@font-face {
	font-family: Retro; 
	src: url('../fonts/Retro-Computer.ttf');
}

/* * {
    border: solid 1px red;
} */

body {
    text-align: center;
}

h1, h2 {
    font-family: Retro;
    margin-bottom: 0;
}

h4 {
    margin-top: 0;
}

img {
    display: inline-block;
    margin: 40px;
}

.player-lives-counter {
    height: 2%;
    width: 2%;
    margin: 0;
    padding: 0;
}

#L1, #L2, #L3 {
    visibility: hidden;
}

.players {
    cursor: pointer;
}

.scoreboard {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.player-lives, .player-level {
    display: inline;
    width: 50%;
}

.player-level {
    margin-left: 200px;
}


/*modal-box implementation with help from https://sabe.io/tutorials/how-to-create-modal-popup-box
**and "Javascript and Jquery - interactive front-end web development" By: Jon Duckett */

.modal-player {
    position: absolute;
    width: 99%;
    height: 75%;
    background-color: rgba(87, 190, 238, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.modal-player-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(252, 235, 0);
    color: #07078b;
    text-align: center;
    padding: 1rem 1.5rem;
    height: 606px;
    width: 606px;
    border-radius: 0.5rem;
}

.modal-player-content p {
    margin-top: 25px;
}

.modal-level {
    position: absolute;
    width: 99%;
    height: 75%;
    background-color: rgba(87, 190, 238, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 1000; 
}

.modal-level-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(252, 235, 0);
    color: #07078b;
    text-align: center;
    padding: 1rem 1.5rem;
    height: 101px;
    width: 303px;
    border-radius: 0.5rem;
}

.modal-end {
    position: absolute;
    width: 99%;
    height: 75%;
    background-color: rgba(87, 190, 238, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.modal-end-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(252, 235, 0);
    color: #07078b;
    text-align: center;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.replay {
    background-color: #07078b;
    color: rgb(252, 235, 0);
    border: 1px solid #50d9fc;
    border-radius: 20px;}